body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    width: 3em;
    height: 3em;
}

td, tr {
    margin: 0;
    padding: 0;
    border: none;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.red    { background-color: red; }
.orange { background-color: orange; }
.yellow { background-color: yellow; }
.green  { background-color: green; }
.blue   { background-color: blue; }
.white  { background-color: whitesmoke; }
.black  { background-color: black; }
